# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* list some popular data science Languages
* List some common Libraries used in data Science
* Show some arithmetic expressions in Python
* Show some examples of code in Python
* Show example of a table

## Author
Guilherme Brito

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Pandas
3. Pytorch

Data Science Tools |
------------------ |
Jupyter Notebooks |
Spark |
TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python
1. a * b Multiplication
1. a / b Division
1. a % b Module
1. a ** b exponential

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335